NODE_ENV=development
PORT=3000
MERCHANT_WALLET_ADDRESS=2oGhoQnAPJ1QNX4MkjGsDyocgQuowow94hBXT5ipon8U
PAYMENT_LAMPORTS=20000000
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
ALLOWED_ORIGINS=https://blinklane-api.onrender.com
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
